<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="main w-full min-h-screen bg-zinc-800 p-10 text-white">
        <a class="text-blue-500 inline-block mb-10" href="/">Go Back To Home</a>
        <form action="/edit" method="POST"> <!-- Set the action to your create route -->
            <input type="text" class="block text-white px-5 py-5 bg-zinc-600 w-72 rounded-md " name="previous" class="name"  value="<%= filename %>" required>
            <textarea class="block mt-5 px-5 py-5 text-zinc-400 resize-none bg-zinc-600 w-72 rounded-md " placeholder="new name " name="new" class="details"  required></textarea>
            <input class="bg-blue-600 mt-5 rounded-md px-5 py-2" style="color: aliceblue;" type="submit" value="Upadte Name">
        </form>
    </div>
    
</body>
</html>