.btn{
    margin-right: 10px;
}
.btnCreate-container {
  
    margin-left: 760%; 
   
}

.tborder{
    border: none;
}
.btn-create {
    background-color: #6bb87a; /* Adjust the background color as needed */
    color: white; /* Adjust the text color as needed */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px; /* Optional: Add rounded corners */
    transition: background-color 0.3s; /* Optional: Add a transition effect */
}

.btn-create:hover {
    background-color: #6ec29b; /* Adjust the hover background color as needed */
}
/* EmployeeList.css */

.logout-container {
    text-align: right;
    margin-bottom: 20px;
}

.logout {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.logout:hover {
    background-color: #c82333;
}

.btnCreate-container {
    margin-bottom: 20px;
    
}

.btn-create {
    background-color: #007bff;
    color: white;
    /* border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
     */
 
}

.btn-create:hover {
    background-color: #0056b3;
}


.btn {
    background: none;
    border: none;
    cursor: pointer;
    margin: 0 5px;
}

.btn:hover {
    opacity: 0.8;
}

/* Icon colors and size */
.btn .react-icons {
    font-size: 18px;
}

.btn-edit {
    color:  #403b3c;
}

.btn-edit:hover {
    color: #3c8648;
}

.btn-delete {
    color: #403b3c;
}

.btn-delete:hover {
    color: #c82333;
}
